* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: gray;
}
.container {
    margin: 30px auto;
    max-width: 900px;
}
.btn {
    background-color: lightblue;
    padding: 5px 10px;
    border-radius: 5px;
}
.btn:hover {
    background-color: #80a9b7;
}
h1 {
    margin-bottom: 30px;
}
.header {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: lightblue;
}
.navbar ul {
    list-style:none;
}
.navbar ul li {
    display: inline-block;
    margin: 0 30px;
}
.form-login {
    margin: 50px auto;
    max-width: 600px;
}
.text-valid {
    color: red;
}
.form-input {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 5px;
    margin: 10px 0;
}
form input[type="submit"] {
    padding: 8px 20px;
    background-color: #3581d1;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
form input[type="submit"]:hover {
    background-color: #275f9b;
}
input[type="text"], input[type="password"] {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
}
input::placeholder {
    font-style: italic;
}
table {
    border: 1px solid gray;
    border-radius: 2px;
    border-collapse: collapse;
}
table th, table td {
    padding: 5px;
    border: 1px solid gray;
}
thead {
    background: #e7e7e7;
}
